.root {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: #ffffff;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-underline: true;
}

.centeredContent {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-orientation: vertical;
    -fx-alignment: center;
}
